
/*    CSS EDICION CURSOS    */

.edicion, .cursos{
    /* border: 1px solid pink; */
    background-color: #fff;
    padding: 0.5em;
    margin-bottom: 20px;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;    
    overflow: auto;    
}

.articulo{
    /* border: 1px solid red; */
    width:28%;    
    display: inline-block;    
    vertical-align: top;
    text-align: justify;
    padding: 1.5em;   
    margin-top:20px;   
}


.articulo2{  
    /* vertical-align: top; */
    text-align: center;
    padding: 0.5em;
    border-right: 1px solid #131313;
    background-color: #131313;
}

.articulo2__a{
    /* border: 1px solid  #b83d3d; */
    font-variant: small-caps;   
    border-radius: 3px;  
    margin-top: 10px;  
    text-decoration: none;
    font-family: dosis;
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    border-bottom: 1px solid #fff;
    text-align: center;
}

.articulo2:hover{
    background-color: #b83d3d;
}

.articulo:hover{
    background-color: #131313;
    color: #fff;
}

.articulo__title{
    color: #131313;
    font-variant: small-caps;
    text-shadow: 2px 1px 3px #fff;
    border-bottom: 1px solid #131313;
    font-family: dancing;
    letter-spacing: 3px;
}

.articulo__subtitle, .caja__subtitle{
    text-shadow: 2px 1px 3px #fff;
    font-variant: small-caps;   
}

.articulo__item--style{
   /* border: 1px solid black; */
   margin-bottom: 20px;  
   list-style-image: url("../image/listas.png");
}

.articulo__ol{
    list-style: upper-latin;   
    padding: 0;
}


.caja{
    /* border: 1px solid red; */
    width: 45%;    
    float: left;
    margin-bottom: 25px;
    margin-right: 20px;
}

.caja2{
    /* border: 1px solid red; */
    width: 45%;    
    float: right;
    margin-bottom: 25px;
    margin-right: 20px;
}

.caja__img{
    width:100%;
}

.caja__texto{
    text-align: justify;
    text-indent: 0.5em;
    padding: 1em;
}

.caja__input{
    background-color: #b83d3d;
    color: #fff;
    font-family: dosis;
    padding: 5px 10px;
    font-variant: small-caps;
    border: 1px solid #b83d3d;
    border-radius: 3px;
    display: block;
    margin: 30px auto;
}

.caja__input:hover{
    background-color: #131313;     
    border: 1px solid #131313;
}
