/*    CSS MENU    */

.menu{
    border: 1px solid #131313;
    text-align: center;
    background-color: #131313; 
    font-variant: small-caps;
    font-family: dosis;
}

.menu__item{
     /* border:1px solid pink; */
    list-style-type: none;   
    width: 120px;
    margin-right: 0.5em;
    display: inline-block;
}  

.menu__enlace{
    /* border: 1px solid red; */
    text-decoration: none;
    color: #fff;    
    display: block; 
    font-weight: bold;
}

.menu__enlace:hover{
    background-color: rgba(226, 94, 94, 0.8);     
    color: #131313;
    border-radius: 3px;
}
